@import "tailwindcss";

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@theme {
  --color-primary: #2ecc71;
  --color-secondary: #A5A5A5;
  --color-second-green: #00B94E;
  --color-white: #ffffff;
  --color-blue: #5364d0;
  --color-error: #444444;
  --font-sans: "NotoSansKR", sans-serif;
}
